[Desktop Entry]
Encoding=UTF-8
Name=FChain
Comment=FChain P2P Cryptocurrency
Exec=fchain-qt %u
Terminal=false
Type=Application
Icon=fchain128
MimeType=x-scheme-handler/fchain;
Categories=Office;Finance;
Name[en_US]=fchain-qt.desktop
